<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>タイトル</title>
	</head>
	<body>
		<form action="/dic/new" method="post">
			<input type="text" name="c_when" placeholder="いつ"  required>
			<input type="text" name="c_where" placeholder="どこで" required>
			<input type="text" name="c_who" placeholder="誰が" required>
			<input type="text" name="c_what" placeholder="何を" required>
			<input type="text" name="c_how" placeholder="どうした" required>
			<input type="submit" value="辞書登録する">
		</form>
	</body>
</html>
