<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
	<form action="/dic/new" method="post">
		<input type="text" name="c_when" placeholder="いつ">
		<input type="text" name="c_where" placeholder="どこで">
		<input type="text" name="c_who" placeholder="誰が">
		<input type="text" name="c_what" placeholder="何を">
		<input type="text" name="c_how" placeholder="どうした">
		<input type="submit" value="辞書登録する">
	</form>
</body>
</html>
