<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>

	<form action="/dic/new" method="post">
		<input type="text" name="c_when" placeholder="c_when">
		<input type="text" name="c_where" placeholder="c_when">
		<input type="text" name="c_who" placeholder="c_who">
		<input type="text" name="c_what" placeholder="c_what">
		<input type="text" name="c_how" placeholder="c_how">
		<input type="submit" value="Signin">
	</form>

</body>
</html>
