<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <script src="/js/materialize.min.js"></script>
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/turn.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>