<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>タイトル</title>
	</head>
	<body>

		<form action="/signin" method="post">
			<input type="text" name="mail" placeholder="Mail Address">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Signin">
		</form>

	</body>
</html>
