<div class="col s12 m6 <%= @login ? 'l4': 'l6' %>">
  <div class="card">
    <div class="card-content cyan white-text">
      <p class="card-stats-title">
        <i class="material-icons middle">flag</i> 対戦待ち</p>
      <div class="card-doing-games card-games">
        <table class="cyan lighten-2">
        <% @rooms.select{|game| game.status == 'waiting'}.each do |room| %>
          <tr>
            <td><p class="left"><i class="material-icons left">person</i><%= room.game_users.first.user.name %></p></td>
            <td><a class="black-text" href="/room/<%= room.id %>">Room<%= room.id %>へ</a></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    <div class="card-action cyan darken-1">
      <div id="clients-bar" class="center-align"></div>
    </div>
  </div>
</div>